.counsellor-layout {
  display: flex;
  height: 100vh;
  
}

.counsellor-sidebar-expanded {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.counsellor-sidebar-collapsed {
  margin-left: 80px;
  transition: margin-left 0.3s ease;
}

.counsellor-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.counsellor-navbar {
  height: 80px;
  width: calc(100% - 40px);
  background-color: #fff;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 3.66px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.counsellor-sidebar-expanded .counsellor-navbar {
  width: calc(100% - 290px);
}

.counsellor-sidebar-collapsed .counsellor-navbar {
  margin-left: 25px;
  width: calc(100% - 120px);
}

.counsellor-navbar-icon {
  position: absolute;
  top: -60px;
  left: 20px;
}

.counsellor-navbar-icon img {
  height: 180px;
  width: 180px;
  margin-top: 5px;
  object-fit: contain;
}

.counsellor-navbar-text {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.counsellor-navbar-text p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  position: relative;
  padding-bottom: 3px;
  transition: color 0.2s;
}

.counsellor-navbar-text p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #0C7FDA;
  transition: width 0.3s ease-in-out;
}

.counsellor-navbar-text p:hover {
  color: #0C7FDA;
}

.counsellor-navbar-text p:hover::after {
  width: 100%;
}

.counsellor-signup {
  background-color: #E9F5FE;
  color: #0C7FDA;
  padding: 7px 35px;
  border-radius: 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.counsellor-signup p::after {
  display: none;
}

.dashboard-page {
  background-color: white;
  min-height: 75vh;
  width: 91.5%;
  margin-left: 1.5rem;
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 3.66px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-quote {
  margin: 1.5rem 0;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  color: black;
}

.dashboard-row {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  width: 100%;
}


.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.dashboard-card {
  background: linear-gradient(135deg,#E9F5FE,#E9F5FE);
  border-radius: 3.66px;
  padding: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-6px);
box-shadow: 0 14px 28px rgba(0, 0, 0, 0.6);
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dashboard-card-left .icon{
  color:#0C7FDA;
}

.dashboard-card-title {
  font-size: 0.95rem;
  color:#000;
  margin-bottom: 0.4rem;
}

.dashboard-card-number {
  font-size: 2rem;
  font-weight: 700;
  color: #0C7FDA;
}

.trend {
  font-size: 0.85rem;
  font-weight: 600;
}

.trend.positive {
  color: #16a34a;
}

.trend.negative {
  color: #dc2626;
}

.sessions-box {
  flex: 1;
  background: #E9F5FE;
  padding: 0.5rem;
  border-radius: 3.66px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.sessions-title {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.sessions-list {
  display: flex;
  flex-direction: column; 
  gap: 1rem;
  width: 100%; 
}

.session-card {
 width:100%;
  background: white;
  padding: 0.75rem;
  border-radius: 3.66px;
  display: flex;
  align-items: center;
  border: 1px solid;
}

.session-card h3 {
  font-size:1rem;
  margin-bottom: 0.25rem;
}

.session-card p {
  font-size: 0.875rem;
  color: #555;
}
.session-box-item{
  display: flex;
  align-items: center;
  gap:53rem;
}
.left-side-session-box{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.time {
  font-weight: bold;
  margin-right:1rem;
}

.stage {
  background: #e0e7ff;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.75rem;
}
.insights-card {
flex: 1;
  background: linear-gradient(to right, #0C7FDA,  #0C7FDA);
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 3.66px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.insights-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.insights-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.insight-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}
